azure-batch==3.0.0
azure-mgmt-batch==5.0.0
azure-mgmt-storage==1.5.0
azure-storage-blob==1.1.0
pyyaml==3.12
pycryptodome==3.4.7

# There is a breaking change is 3.0.0 of this package and the depenency chain of other package is not defined correcly
SecretStorage==2.3.1
keyring==12.0.1
